---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TaskTable from '../components/blocks/TaskTable.vue';
import { Icon } from 'astro-icon/components';
---

<Layout title="Welcome to Astro.">
	<div class="flex gap-4 px-4 md:px-6">
		<div class="bg-glass w-80 h-40"></div>
		<TaskTable client:only="vue">
			<template #delete>
				<Icon name="lucide:package-2" class="w-4 h-4"></Icon>
			</template>
		</TaskTable>
	</div>
</Layout>